### 🧪 Validation Results
❌ **FluSight-baseline/2025-05-10-FluSight-baseline.csv**:

The validation checks produced some failures/errors reported above.
❌ **FluSight-base_seasonal/2025-05-10-FluSight-base_seasonal.csv**:

The validation checks produced some failures/errors reported above.
❌ **FluSight-equal_cat/2025-05-10-FluSight-equal_cat.csv**:

The validation checks produced some failures/errors reported above.
